<% if @itinerary.difficulty != nil %>
  <li class="collection-item">Difficulté: <%= @itinerary.difficulty %></li>
<% end %>
  <% if @itinerary.elevation_max != nil %>
  <li class="collection-item">Altitude maximale: <%= @itinerary.elevation_max %>mètres</li>
<% end %>

  <% if @itinerary.height_diff_up != nil %>
  <li class="collection-item">Dénivelé: <%= @itinerary.height_diff_up %>mètres</li>
<% end %>
