// var delimiter =
//         $('<div class="page-delimiter" data-page="<%= params[:page] %>"></div>');
// $('#my-itineraries').append(delimiter);
// $('#my-itineraries').append('<%= j render @itineraries %>');
// $('.pagination').replaceWith('<%= j will_paginate @itineraries %>');
// preparePagination(delimiter);
// <% if @itineraries.next_page %>
//   $('.pagination #gifDelimiter').remove();
// <% end %>

