<div class="container">
  <div class="row">
    <div id="itineraries" style="margin: 10px;">

      <h6 class="strong">Parcours toute la base</h6>

      <div class="left-align font-1em">
        <%= form_tag(itineraries_path, method: :get, remote: true) do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control left-align font-1em smaller-width",
            placeholder: "nom de l'itinéraire recherché (e.g. \"whymper\")"
          %>
          <i class="fas fa-search" id="green-search"></i>
        <% end %>
      </div>

      <div class="slide-container">

        <div id="search-results">
        </div>

        <% if !@itineraries.nil? %>
          <% @itineraries.each do |itinerary| %>
          <% next if itinerary.name.nil? || itinerary.universal_difficulty.nil? %>
          <%= render partial: "shared/card_itinerary", locals: {itinerary: itinerary, followed_itineraries: @followed_itineraries, follow: @follow, user: @user} %>
          <% end %>
        <% end %>

      </div>

      <h6 class="strong">Ou les itinéraires en top condis</h6>

      <div class="slide-container">

        <% if !@best_itineraries.nil? %>
          <% @best_itineraries.each do |itinerary| %>
          <% next if itinerary.name.nil? || itinerary.universal_difficulty.nil? %>
          <%= render partial: "shared/card_itinerary", locals: {itinerary: itinerary, followed_itineraries: @followed_itineraries, follow: @follow, user: @user} %>
          <% end %>
        <% end %>

      </div>

    </div>
  </div>
</div>
