
  <div id="infinite-scrolling-static ">
     <%#= will_paginate @itineraries %>
  </div>

<div id="my-itineraries">
    <%= render @itineraries %>
</div>

  <div id="infinite-scrolling">
     <%= will_paginate @itineraries %>
  </div>

