
  <div id="infinite-scrolling-static ">
     <%= will_paginate @itineraries %>
  </div>

<div class="container" id="my-itineraries">
  <div class ="row">
    <%= render @itineraries %>
  </div>
</div>



  <div id="infinite-scrolling">
     <%= will_paginate @itineraries %>
  </div>

