<div id="static-pagination">
  <%= will_paginate %>
</div>

<div id="my-itineraries">
  <div class="page-delimiter first-page" data-page="<%= params[:page] || 1 %>"></div>
  <%= render @itineraries %>
</div>

<% if @itineraries.next_page %>
  <div id="infinite-scrolling">   
  </div>
<% end %>