<br>
<div class="container">
  <div class="row">

    <% @trips.each do |trip| %>

    <div class="col s6 offset-s3 m6 offset-m3">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <p class="left-align">Voyage du <%= trip.start_date %> depuis <%= trip.location.split(",")[0] %> </p>
          </div>
          <div class="card-action">

            <% if trip.validated %>
            <%= link_to 'Voir mes itinéraires', trip_basecamps_activity_path(trip, BasecampsActivity.find(5843)), class: 'btn' %>
            <% else %>
            <%= link_to 'Choisir mon camp de base', trip_basecamps_activities_path(trip), class: 'btn' %>
            <% end %>

          </div>
        </div>
      </div>
    </div>

    <% end %>

    </div>
  </div>
</div>
