<br>
<div class="container">
  <div class="row">

    <% @trips.each do |trip| %>
    <div class="col s12 m6 l4">
    <div class="card horizontal card-trip">
      <div class="card-image">
        <img src="https://res.cloudinary.com/deesjjv4h/image/upload/v1552046568/crux/images/myTripsPicture.jpg">
      </div>
        <div class="card-stacked">
          <div class="card-content">
            <p class="title-card" style="font-weight: 500;">Sortie du <%= l trip.start_date, :format => :long %></p>
            <p>depuis <%= trip.location.split(",")[0] %> </p>
          </div>
          <div class="card-action">
            <% if trip.validated %>
            <%= link_to 'Voir les itinéraires', trip_basecamps_activity_path(trip, BasecampsActivity.find(5843)), class: 'waves-effect waves-light btn-small' %>
            <% else %>
              <%= link_to 'Reprendre la sélection', trip_basecamps_activities_path(trip), class: "waves-effect waves-light btn-small" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>

    </div>
  </div>
</div>
