<h1>Je suis le show trip, voici mes basecamps</h1>
<p>Pour l'instant on affiche tous les basecamps, il faudra ajouter les conditions de localisations/ météo / activités / niveau</p>

<div class="container">
  <div class="row">

  <%= raw(ap @basecamps_activities) %>



  <%= @basecamps_activities.to_a.size %>

