<h1>Je suis le show trip, voici mes basecamps</h1>
<p>Pour l'instant on affiche tous les basecamps, il faudra ajouter les conditions de localisations/ météo / activités / niveau</p>

<div class="container">
  <div class="row">

  <% @basecamps_activities.each do |basecamps_activity| %>
    <% basecamp = basecamps_activity.basecamp %>
    <div class="col s12 m6">
      <h2 class="header"><%= basecamp.name %></h2>
      <div class="card horizontal small">
        <div class="card-image">
          <img src="https://images.unsplash.com/photo-1483482699581-077cbc1b4c9f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1552&q=80">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h4><%= basecamps_activity.activity.name.capitalize %></h4>
            <br>

            <p><strong> <%= basecamps_activity.itineraries.count %></strong> itinéraires</p>
            <br>
            <p><i class="fas fa-car"></i> 1h30</p>
            <br>
            <p><i class="fas fa-exclamation-triangle"></i> Risque 3</p>
            <br>
            <p><i class="fas fa-cloud-sun"></i> Beau temps, 3°C</p>
          </div>
          <div class="card-action">
            <div class="left-align">
              <%= link_to "En savoir plus", basecamps_activity_path(basecamps_activity) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end  %>
  </div>
</div>
