<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Clique sur ce <a href=<%= root_url.chomp + trip_path(@trip) %>>lien</a>
      et rejoins ma sortie poto!
    </p>
  </body>
</html>
