<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Clique sur ce <a href="<%= @invitation_link  %>">lien</a>
      et rejoins ma sortie poto!
    </p>
  </body>
</html>
