<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Clique sur ce <a href=<%= root_url.chomp + trip_city_trip_activity_path(@trip, @trip.city, @trip.trip_activity) %>>lien</a>
      et rejoins ma sortie poto!
    </p>
  </body>
</html>
