.home-content{
  h4 {
    color: #23B5D3;
    text-align: center;
    font-size: 1.64em !important;
    margin: 0.5em;
  }
  p {
    color: black;
    font-size: 1.1em !important;
    text-align: center;
  .fat-link {
    color: #23B5D3;
    font-weight: bolder;
  }
  }
}
