<ul class="tabs tabs-fixed-width">
  <li class="tab col s1">
    <a class="" href="#itineraries">
      <span class="hide-on-small-only">Itinéraires</span>
      <span class="hide-on-med-and-up"><i class="fas fa-route bigger"></i></span>
    </a>
  </li>
  <li class="tab col s1">
    <a class="" href="#weather">
      <span class="hide-on-small-only">Météo</span>
      <span class="hide-on-med-and-up"><i class="fas fa-cloud-sun bigger"></i></span>
    </a>
  </li>
  <li class="tab col s1">
    <a class="" href="#avalanche">
      <span class="hide-on-small-only">Avalanche</span>
      <span class="hide-on-med-and-up"><i class="fas fa-exclamation-triangle bigger"></i></span>
    </a>
  </li>
  <li class="tab col s1">
    <a class="" href="#map-ba">
      <span class="hide-on-small-only">Carte</span>
      <span class="hide-on-med-and-up"><i class="fas fa-map-marked bigger"></i></span>
    </a>
  </li>
  <li class="tab col s1">
    <a class="active" href="#participants">
      <span class="hide-on-small-only">Participants</span>
      <span class="hide-on-med-and-up"><i class="fas fa-user bigger"></i></span>
    </a>
  </li>
</ul>
