
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    © 2019 Copyright Crux
        <a class="grey-text text-lighten-4 right "  href="#!"><i class="fab fa-github"></i></a>
        <a class="grey-text text-lighten-4 right "  href="#!"><i class="fab fa-instagram"></i></a>
        <a class="grey-text text-lighten-4 right "  href="#!"><i class="fab fa-facebook"></i></a>
    </div>
  </div>
</footer>
