<nav>
  <div class="nav-wrapper">
    <div class="container">
    <%= link_to "Crux", root_path, class: "brand-logo" %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li> <%= link_to "Se connecter", new_user_session_path %> </li>
      <li><a href="sass.html">Itinéraires</a></li>
    </ul>
  </div>
  </div>
</nav>
