<div class="center-align outings-calendar">
  <span class="calendar-title">
      Meilleurs mois :
  </span>
  <span class="calendar-months">
    <% itinerary.guessed_outing_months.each_with_index do |count, index| %>
      <% if count == 0 %>
        <span class="case">
      <% elsif count == 1 %>
        <span class="blue-case">
      <% else %>
        <span class="strong-blue-case">
      <% end %>
      <%= index + 1 %>
        </span>
    <% end %>
  </span>

</div>

