
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url('https://scontent.fcdg2-1.fna.fbcdn.net/v/t31.0-8/10750180_792012360876163_8121661586208126226_o.jpg?_nc_cat=109&_nc_ht=scontent.fcdg2-1.fna&oh=a29c5a01b8d0381aa2700bc01a9b0b7e&oe=5CE20E5A');">
  <div class="text-center">
    <h1>L'aventure t'attend</h1>
    <p>Crux analyse des <strong>millions</strong> de données.</p>
    <p>Et te dit où les conditions sont <strong>optimales</strong>.</p>
    <br><br>
    <%= link_to("Je pars en montagne", new_trip_path, class: "btn-outline") %>
  </div>
</div>







