
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://images.pexels.com/photos/414459/pexels-photo-414459.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
  <div class="banner-content text-center">
    <h1>Crux</h1>
    <p>Tout ce que vous voulez savoir avant votre sortie en montagne</p>
    <%= link_to('Créer une sortie', new_trip_path, class: "waves-effect waves-light btn") %>
  </div>
</div>


<div class="container">
  <div class="row">

    <h2>Les meilleurs conditions t'attendent là-bas</h2>

    <div class="col s12 m6">
      <h3 class="header">Chamonix</h3>
      <div class="card horizontal small">
        <div class="card-image">
          <img src="https://images.unsplash.com/photo-1483482699581-077cbc1b4c9f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1552&q=80">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h4>Cascade de glace</h4>
            <br>
            <p><strong>14</strong> itinéraires</p>
            <br>
            <p><i class="fas fa-car"></i> 1h30</p>
            <br>
            <p><i class="fas fa-exclamation-triangle"></i> Risque 3</p>
            <br>
            <p><i class="fas fa-cloud-sun"></i> Beau temps, 3°C</p>
          </div>
          <div class="card-action">
            <div class="left-align">
              <a href="#"">En savoir plus</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <h3 class="header">Chamonix</h3>
      <div class="card horizontal small">
        <div class="card-image">
          <img src="https://images.unsplash.com/photo-1483482699581-077cbc1b4c9f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1552&q=80">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h4>Cascade de glace</h4>
            <br>
            <p><strong>14</strong> itinéraires</p>
            <br>
            <p><i class="fas fa-car"></i> 1h30</p>
            <br>
            <p><i class="fas fa-exclamation-triangle"></i> Risque 3</p>
            <br>
            <p><i class="fas fa-cloud-sun"></i> Beau temps, 3°C</p>
          </div>
          <div class="card-action">
            <div class="left-align">
              <a href="#"">En savoir plus</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <h3 class="header">Chamonix</h3>
      <div class="card horizontal small">
        <div class="card-image">
          <img src="https://images.unsplash.com/photo-1483482699581-077cbc1b4c9f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1552&q=80">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h4>Cascade de glace</h4>
            <br>
            <p><strong>14</strong> itinéraires</p>
            <br>
            <p><i class="fas fa-car"></i> 1h30</p>
            <br>
            <p><i class="fas fa-exclamation-triangle"></i> Risque 3</p>
            <br>
            <p><i class="fas fa-cloud-sun"></i> Beau temps, 3°C</p>
          </div>
          <div class="card-action">
            <div class="left-align">
              <a href="#"">En savoir plus</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <h3 class="header">Chamonix</h3>
      <div class="card horizontal small">
        <div class="card-image">
          <img src="https://images.unsplash.com/photo-1483482699581-077cbc1b4c9f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1552&q=80">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h4>Cascade de glace</h4>
            <br>
            <p><strong>14</strong> itinéraires</p>
            <br>
            <p><i class="fas fa-car"></i> 1h30</p>
            <br>
            <p><i class="fas fa-exclamation-triangle"></i> Risque 3</p>
            <br>
            <p><i class="fas fa-cloud-sun"></i> Beau temps, 3°C</p>
          </div>
          <div class="card-action">
            <div class="left-align">
              <a href="#"">En savoir plus</a>
            </div>
          </div>
        </div>
      </div>




