<nav>
  <div class="nav-wrapper">
    <div class="container">
    <a href="#" class="brand-logo">Crux</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Se connecter</a></li>
      <li><a href="sass.html">Itinéraires</a></li>
    </ul>
    </div>
  </div>
</nav>

<div class="container">

  <h1>Chamonix</h1>
  <div class="row">

    <div class="col s12">
      <ul class="tabs tabs-fixed-width">
        <li class="tab col s1"><a class="active" href="#itineraries">Itinéraires</a></li>
        <li class="tab col s1"><a class="" href="#weather">Météo</a></li>
        <li class="tab col s1"><a class="" href="#avalanche">Avalanche</a></li>
      </ul>
      <div id="weather"></div>
      <div id="avalanche"></div>
      <div id="itineraries">
        <div class="col s12 m4">
          <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://images.unsplash.com/photo-1516535852376-683407a5cb11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Aiguille du Midi<i class="material-icons right">more_vert</i></span>
              <p>Eperon Frendo, 3700m (+ 1200)</p>
              <p>| AD | - | P3 | - | S |</p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Aiguille du Midi<i class="material-icons right">close</i></span>
              <p>Depuis la gare intermédiaire du téléphérique de l'aiguille du midi, remonter la moraine sous l'aiguille du Peigne en direction du plateau des Pèlerins et longer la base de la face N de l'aiguille du Midi jusqu'au pied de l'éperon Frendo (2582 m). (attention aux chutes de pierres depuis la vire de départ quand il y a plusieurs cordées)</p>
              <p>S'élever aisément en terrain mixte en ascendance vers la droite, puis vers la gauche le long d'une vire raide, au pied d'un ressaut raide bien visible et idéal pour repérer l'attaque de l'itinéraire. On aborde ensuite un système de fissures cheminées verticales. Les remonter sur 100 m environ (III) et déboucher sur l'arête. (Râteau de chèvre pour sortir sur l'arête. peut être évité tout droit en A0).</p>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://images.unsplash.com/photo-1516535852376-683407a5cb11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Aiguille du Midi<i class="material-icons right">more_vert</i></span>
              <p>Eperon Frendo, 3700m (+ 1200)</p>
              <p>| AD | - | P3 | - | S |</p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Aiguille du Midi<i class="material-icons right">close</i></span>
              <p>Depuis la gare intermédiaire du téléphérique de l'aiguille du midi, remonter la moraine sous l'aiguille du Peigne en direction du plateau des Pèlerins et longer la base de la face N de l'aiguille du Midi jusqu'au pied de l'éperon Frendo (2582 m). (attention aux chutes de pierres depuis la vire de départ quand il y a plusieurs cordées)</p>
              <p>S'élever aisément en terrain mixte en ascendance vers la droite, puis vers la gauche le long d'une vire raide, au pied d'un ressaut raide bien visible et idéal pour repérer l'attaque de l'itinéraire. On aborde ensuite un système de fissures cheminées verticales. Les remonter sur 100 m environ (III) et déboucher sur l'arête. (Râteau de chèvre pour sortir sur l'arête. peut être évité tout droit en A0).</p>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://images.unsplash.com/photo-1516535852376-683407a5cb11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Aiguille du Midi<i class="material-icons right">more_vert</i></span>
              <p>Eperon Frendo, 3700m (+ 1200)</p>
              <p>| AD | - | P3 | - | S |</p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Aiguille du Midi<i class="material-icons right">close</i></span>
              <p>Depuis la gare intermédiaire du téléphérique de l'aiguille du midi, remonter la moraine sous l'aiguille du Peigne en direction du plateau des Pèlerins et longer la base de la face N de l'aiguille du Midi jusqu'au pied de l'éperon Frendo (2582 m). (attention aux chutes de pierres depuis la vire de départ quand il y a plusieurs cordées)</p>
              <p>S'élever aisément en terrain mixte en ascendance vers la droite, puis vers la gauche le long d'une vire raide, au pied d'un ressaut raide bien visible et idéal pour repérer l'attaque de l'itinéraire. On aborde ensuite un système de fissures cheminées verticales. Les remonter sur 100 m environ (III) et déboucher sur l'arête. (Râteau de chèvre pour sortir sur l'arête. peut être évité tout droit en A0).</p>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://images.unsplash.com/photo-1516535852376-683407a5cb11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Aiguille du Midi<i class="material-icons right">more_vert</i></span>
              <p>Eperon Frendo, 3700m (+ 1200)</p>
              <p>| AD | - | P3 | - | S |</p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Aiguille du Midi<i class="material-icons right">close</i></span>
              <p>Depuis la gare intermédiaire du téléphérique de l'aiguille du midi, remonter la moraine sous l'aiguille du Peigne en direction du plateau des Pèlerins et longer la base de la face N de l'aiguille du Midi jusqu'au pied de l'éperon Frendo (2582 m). (attention aux chutes de pierres depuis la vire de départ quand il y a plusieurs cordées)</p>
              <p>S'élever aisément en terrain mixte en ascendance vers la droite, puis vers la gauche le long d'une vire raide, au pied d'un ressaut raide bien visible et idéal pour repérer l'attaque de l'itinéraire. On aborde ensuite un système de fissures cheminées verticales. Les remonter sur 100 m environ (III) et déboucher sur l'arête. (Râteau de chèvre pour sortir sur l'arête. peut être évité tout droit en A0).</p>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://images.unsplash.com/photo-1516535852376-683407a5cb11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Aiguille du Midi<i class="material-icons right">more_vert</i></span>
              <p>Eperon Frendo, 3700m (+ 1200)</p>
              <p>| AD | - | P3 | - | S |</p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Aiguille du Midi<i class="material-icons right">close</i></span>
              <p>Depuis la gare intermédiaire du téléphérique de l'aiguille du midi, remonter la moraine sous l'aiguille du Peigne en direction du plateau des Pèlerins et longer la base de la face N de l'aiguille du Midi jusqu'au pied de l'éperon Frendo (2582 m). (attention aux chutes de pierres depuis la vire de départ quand il y a plusieurs cordées)</p>
              <p>S'élever aisément en terrain mixte en ascendance vers la droite, puis vers la gauche le long d'une vire raide, au pied d'un ressaut raide bien visible et idéal pour repérer l'attaque de l'itinéraire. On aborde ensuite un système de fissures cheminées verticales. Les remonter sur 100 m environ (III) et déboucher sur l'arête. (Râteau de chèvre pour sortir sur l'arête. peut être évité tout droit en A0).</p>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://images.unsplash.com/photo-1516535852376-683407a5cb11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Aiguille du Midi<i class="material-icons right">more_vert</i></span>
              <p>Eperon Frendo, 3700m (+ 1200)</p>
              <p>| AD | - | P3 | - | S |</p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Aiguille du Midi<i class="material-icons right">close</i></span>
              <p>Depuis la gare intermédiaire du téléphérique de l'aiguille du midi, remonter la moraine sous l'aiguille du Peigne en direction du plateau des Pèlerins et longer la base de la face N de l'aiguille du Midi jusqu'au pied de l'éperon Frendo (2582 m). (attention aux chutes de pierres depuis la vire de départ quand il y a plusieurs cordées)</p>
              <p>S'élever aisément en terrain mixte en ascendance vers la droite, puis vers la gauche le long d'une vire raide, au pied d'un ressaut raide bien visible et idéal pour repérer l'attaque de l'itinéraire. On aborde ensuite un système de fissures cheminées verticales. Les remonter sur 100 m environ (III) et déboucher sur l'arête. (Râteau de chèvre pour sortir sur l'arête. peut être évité tout droit en A0).</p>
            </div>
          </div>
        </div>
      </div>
    </div>




  </div>
</div>


<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    © 2019 Copyright Crux
    <a class="grey-text text-lighten-4 right" href="#!">Social stuff</a>
    </div>
  </div>
</footer>
