<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://images.pexels.com/photos/414459/pexels-photo-414459.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
  <div class="banner-content text-center">
    <h1>Crux</h1>
    <p>Tout ce que vous voulez savoir avant votre sortie en montagne</p>
     <div style="position: relative; height: 155px; width: 400px;">
        <%= form_tag basecamps_path, method: :get, class: "form-group" do %>
          <%= text_field_tag :location,
          params[:location],
          class: "form-control",
          id: "basecamp_location",
          placeholder: "Adresse de départ"
          %>

        <%= submit_tag "Créer une sortie", class: "btn-outline" %>
      <% end %>
    </div>
  </div>
</div>


