<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.1)), url('https://scontent-bru2-1.xx.fbcdn.net/v/t31.0-8/17834882_1297303597013701_1473251964652613264_o.jpg?_nc_cat=110&_nc_ht=scontent-bru2-1.xx&oh=c52e73b484f09b283610a694e948e50c&oe=5D09A9E4');">
  <div class="text-center">
    <h1>Une aventure t'attend</h1>
    <p>Crux analyse des <strong>milliers</strong> de données.</p>
    <p>Et te dit où les conditions sont <strong>optimales</strong>.</p>
    <br>
    <%= link_to("Je pars en montagne", new_trip_path, class: "waves-light btn-large") %>
  </div>
</div>

<div class="row home-content">
    <h4>Avant : c'était galère</h4>
    <p class="col s12 m4">
      <strong>2h</strong> pour checker 42 bulletins <strong>météo</strong>.
    </p>
    <p class="col s12 m4">
     <strong>3h</strong> à chercher des <strong>itinéraires</strong> sur douze sites.
    </p>
    <p class="col s12 m4">
      <strong>1 min</strong> pour se rendre compte que c'est <strong>trop loin</strong>.
    </p>
    <p class="col s12 m4">
      <strong>3 jours</strong> pour recommencer à zéro
    </p>
    <p class="col s12 m4">
      <i class="fas fa-quote-left crux-blue"></i>  <em>Et, euh... on a la carte ? Il y a des avalanches en cette saison ? C'est quoi le matos ? On prend un guide ?  <i class="fas fa-quote-right crux-blue"></i></em>
    </p>
    <p class="col s12 m4 border-top">
      <strong>Il existe des milliers de possibilités pour aller en montagne.
      Découvre le <%= link_to("programme idéal", new_trip_path, class: "fat-link") %> pour ta prochaine aventure.</strong>
    </p>
</div>


