
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url('https://scontent-cdt1-1.xx.fbcdn.net/v/t31.0-8/11038143_790289401048459_1282230018834831290_o.jpg?_nc_cat=110&_nc_ht=scontent-cdt1-1.xx&oh=95522aab756387bb841cb2d6b754295c&oe=5D15D0DB');">
  <div class="text-center">
    <h1>Une aventure t'attend</h1>
    <p>Crux analyse des <strong>milliers</strong> de données.</p>
    <p>Et te dit où les conditions sont <strong>optimales</strong>.</p>
    <br><br><br><br><br><br>
    <%= link_to("Je pars en montagne", new_trip_path, class: "btn-outline") %>
  </div>
</div>



