<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.1)), url('https://scontent-bru2-1.xx.fbcdn.net/v/t31.0-8/17834882_1297303597013701_1473251964652613264_o.jpg?_nc_cat=110&_nc_ht=scontent-bru2-1.xx&oh=c52e73b484f09b283610a694e948e50c&oe=5D09A9E4');">
  <div class="text-center">
    <h1>Une aventure t'attend</h1>
    <p>Crux analyse des <strong>milliers</strong> de données.</p>
    <p>Et te dit où les conditions sont <strong>optimales</strong>.</p>
    <br><br>
    <%= link_to("Je pars en montagne", new_trip_path, class: "btn-outline") %>
  </div>
</div>

<div class="row home-content">
    <h4>Avant : c'était galère</h4>
    <p class="col s12 m4">
      <i class="far fa-tired"></i> 2h pour checker 42 bulletins <strong>météo</strong>
      <br><em>Attends, t'as regardé le vent en altitude ?</em>
    </p>
    <p class="col s12 m4">
      3h à chercher des <strong>itinéraires</strong> dans la jungle du web
      <br><em>Il y en a 50 000 sur ce site, je commence par où ?</em>
    </p>
    <p class="col s12 m4">
      30 min à <strong>s'engeuler</strong> avec son copain
      <br><em>Chamonix je connais déjà je t'ai dit! </em>
    </p>
    <p class="col s12 m4">
      1 min pour se rendre compte que c'est <strong>trop loin</strong>
      <br><em>5h30 de route c'est un peu long pour la journée...</em>
    </p>
    <p class="col s12 m4">
      3 jours pour <strong>recommencer à zéro</strong> <i class="far fa-tired"></i>
    </p>
    <p class="col s12 m4">
      <i class="fas fa-arrow-circle-right"></i> Il y a des milliers de programmes possibles.<strong><br>
      L'un est beaucoup mieux que les autres.</strong> <%= link_to("Découvre-le avec Crux.", new_trip_path, class: "fat-link") %>
    </p>
</div>


