.avalanche, .weather {
  background-color: #fff;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
  box-shadow: 1px 1px 12px #555;
  padding: 0 1rem;
  margin-top:-5px;
  margin-left: 23px;
  margin-right: 23px;
  #bra-date {
    text-align: center;
  }

  #legend {
    display: inline-table;
    font-style: oblique;
  }

  h2 {
    margin-top: 0px;
    text-align: center;
    padding: 2rem 0.5rem 0rem 0.5rem;
    font-size: 3.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 5px;
  }

  img {
    padding: 1rem;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
}

.avalanche-infos, .weather-infos {
  text-align:justify;
}

.avalanche-pic {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

figcaption {
  display: block;
  padding-bottom: 1rem;
  padding-top: 0px;
  margin-top: 0px;
  font-style: italic;
}

ul#legend li {
  display:inline;
  font-style: italic;
}

#weather {
  img {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 0 15px 0;
  }
}
