.banner {
  height: calc(90vh - 64px);
  text-align: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-position: center;
  h1 {
    color: rgba(255,255,255,0.8);
    font-weight: bold;
    font-size: 3em;
  }

  p {
    color: rgba(255,255,255,0.9);
    text-align: center;
    font-size: 1.64em !important;
    margin: 0.5em;
  }
  h2, h4 {
    color: white;
  }
}

.home-content{
  h4 {
    color: #23B5D3;
    text-align: center;
    font-size: 1.64em !important;
    margin: 0.5em;
  }
  p {
    color: black;
    font-size: 1.1em !important;
    text-align: center;
  .fat-link {
    color: #23B5D3;
    font-weight: bolder;
  }
  }
}

@media only screen and (max-width: 600px) {
  .banner {
    height: calc(85vh - 56px);
  }
  .banner-adjust {
    height: calc(85vh * 1.5);
  }
}

.logo-with-text {
      display: flex !important;
}
