.banner {
  height: calc(80vh);
  text-align: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-position: center;
  h1 {
    color: rgba(255,255,255,0.8);
    font-weight: bold;
    font-size: 3em;
  }

  p {
    color: rgba(255,255,255,0.9);
    text-align: center;
    font-size: 1.64em !important;
    margin: 0.5em;
  }
  h2, h4 {
    color: white;
  }
}
