.btn-outline {
    background-color: rgba( 210, 210, 210, 0.8);
    border: 1px solid white;
    padding: 0.8em;
    color: white;
    border-radius: 7px;
    text-align: center;
    font-size: 1.3em;
    &:hover {
      background-color: rgba( 220, 220, 220, 0.5);
      color: white;
      border: 1px solid rgba( 230, 230, 230, 0.6);
    }
}

.secondary {
  background-color: white;
  color: #26A69A;
}

.tertiary {
  background-color: white;
  color: black;
  font-size: 1.1em;
  font-weight: lighter;
  padding: 6px 6px;
}

.sticky-cta {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
  transform: translateX(-50%);
  left: 50%;
  background-color: rgba(7,16,19,0.4);
}

  .btn-my-trips {
    font-size: 1rem;
  }


@media only screen and (max-width: 390px) {
  .btn-my-trips {
    font-size:0.8rem;
  }
}

@media only screen and (max-width: 380px) {
  .btn-my-trips {
    font-size:0.585rem;
  }
}

