.btn {
  font-size: 1.3em;
}

.secondary {
  background-color: white;
  color: #26A69A;
}

.tertiary {
  background-color: white;
  color: black;
  font-size: 0.9rem;
  font-weight: lighter;
  padding: 6px 6px;
}

.sticky-cta {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
  transform: translateX(-50%);
  left: 50%;
  background-color: rgba(7,16,19,0.4);
}

.fixed-action-btn {
  margin-bottom: -25px !important;
  transition: margin ease 0.2s;
  padding: 10px !important;
}

.hide-cta {
  margin-bottom: -80px !important;
  transition: margin ease 0.2s;
}


@media only screen and (max-width: 390px) {
  .btn-my-trips {
    font-size:0.8rem;
  }
}

@media only screen and (max-width: 380px) {
  .btn-my-trips {
    font-size:0.585rem;
  }
}

