// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "banner";
@import "button";
@import "form";
@import "avalanche";
@import "datepicker";
@import "transition";
@import "font";

body {
  background-image: linear-gradient(rgba(240,243,243,1), rgba(240,243,243,0.6)),url("background.png");
  background-repeat: repeat;
  background-size: 9em;
 }


.black-font {
  color: black;
}

.card-alert {
  background-color: yellow;
  height:50%;


}
