// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "banner";
@import "button";
@import "form";
@import "avalanche_weather";
@import "datepicker";
@import "transition";
@import "font";
// @import "card_trip";

body {
  background-image: linear-gradient(rgba(240,243,243,1), rgba(240,243,243,0.6)),url("https://res.cloudinary.com/deesjjv4h/image/upload/v1551794164/crux/images/background.png.png");
  background-repeat: repeat;
  background-size: 9em;
 }


.black-font {
  color: black;
}

.card-alert {
  background-color: yellow;
  height:50%;
}

.font-alert {
  font-size: 1.2em;
}
