// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "banner";
@import "button";
@import "form";
@import "avalanche";
@import "datepicker";
@import "transition";

body {
  background-image: linear-gradient(rgba(237,240,240,1), rgba(237,240,240,0.6)),url("background.png");
  background-repeat: repeat;
  background-size: 9em;
 }

