/* Dropdown menu */

.small-image {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}

.side-bar-head {
  margin-bottom: 1em;
}

.medium-image {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

.no-hover {
  &:hover{
    color: white;
  }
}

.logo-box {
  justify-content: space-around;
  align-items: center;
  width: 5em;
}
