// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/materialize_changes";

// External libraries
@import "@material/icon-button/mdc-icon-button";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Main elements style
body {
  background-image: linear-gradient(rgba(240,243,243,1), rgba(240,243,243,0.6)),url("https://res.cloudinary.com/deesjjv4h/image/upload/v1551794164/crux/images/background.png.png");
  background-repeat: repeat;
  background-size: 9em;
 }

p {
  text-align: left;
  font-size: 1em !important;
}

a:hover {
  text-decoration: none;
}

a {
  color: #23B5D3;
}

a.green-link {
  color: #26a69a !important;
}

li {
  list-style-type: none;
}

label {
  font-size: 1.5rem;
}

.scale-down {
  object-fit: scale-down;
}

.cover {
  object-fit: cover;
}

.remove {
  background-color: #75ABBC;
}

.selected {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3), 0 3px 1px -2px rgba(0, 0, 0, 0.4), 0 1px 5px 0 rgba(0, 0, 0, 1);
}

.badge {
  font-size: 1.5rem !important;
  color: black !important;
  background-color: #23B5D3;
}

.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.strong {
  font-size: 1.3em !important;
  font-weight: bolder;
  color: #23B5D3;
}

.row {
  padding-top: 15px;
}

.row-no-margin-bottom {
  margin-bottom: 0px;
}

.row-no-padding-top {
  padding-top: 0;
}

.light-padding {
 padding-top: 20px;
}

.crux-blue {
  color: $blue !important;
}

#green-search {
  background-color: $green;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.crux-red {
  color: $red
}

.no-padding {
  padding-left: 0;
}

.font-1em {
  font-size: 1.1rem !important;
}
