// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";


// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "@material/icon-button/mdc-icon-button";

@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";
@import "basecamps_activities";


// Below: parts of materialized which I customed

nav {
 background-color: #23B5D3;
}

p {
  text-align: justify;
}

.page-footer {
  background-color: #23B5D3;
  position: absolute;
  bottom: -4em;
  left: 0px;
  height: 4em;
  width: 100%
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: rgb(38,166,154);
}

.tabs .tab a {
  color: rgba(38, 166, 154, 0.7);
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: rgba(38, 166, 154, 0.2);
  outline: none;
}

.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
  color: rgba(38, 166, 154, 0.4);
  cursor: default;
}

.tabs .indicator {
  background-color: #23B5D3;
}

a:hover {
  text-decoration: none;
}

a {
  color: #23B5D3;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color:#26a69a;
}

nav ul a {
  font-size: 1em;
}

label {
  font-size: 1.5rem;
}

.scale-down {
  object-fit: scale-down;
}

li {
  list-style-type: none;
}

.cover {
  object-fit: cover;
}

.card.horizontal .card-image img {
    max-width: 100px;
    height: 190px;
}

.title-card {
  font-size: 1.5rem !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
